@using Emp.Web.Models.Dtos
@model CountryDto
@{
    Layout = "_AdminLayout";
}
<h2>Details</h2>
<div class="card">
    <div class="card-header">
        @Model.Code
    </div>
    <div class="card-body">
        @Model.Name
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-danger">Delete</button>
        <button class="btn btn-outline-dark">Edit</button>
    </div>
</div>